<!DOCTYPE HTML>
<html lang="en" th:replace="~{fragments/layout :: layout(~{::title}, ~{::#content}, ~{::script})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SketchRider :: Home</title>
</head>
<body>
<div id="content">
    <form action="/documents/new">
        <button class="btn btn-primary">Create New Document</button>
    </form>
    <h2>List Documents</h2>
    <table>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Type</th>
            <th>Status</th>
        </tr>
        <tr th:each="document : ${documents}">
            <td><a th:href="@{/documents/{documentId}(documentId=${document.metadata})}" th:text="${document.metadata}"></a></td>
            <td th:text="${document.documentTitle}"></td>
            <td th:text="${document.documentType}"></td>
            <td th:text="${document.documentStatus}"></td>
        </tr>
    </table>
</div>
</body>

<script></script>