<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SketchRider</title>
</head>
<body>
<h2 th:if="${loggedIn}">username: <span th:text="${username}"></span> - <span th:text="${uid}"></span></h2>
<h2 th:unless="${loggedIn}">username: Anonymous</h2>
<nav>
    <ul>
        <li th:unless="${loggedIn}"><a href="/oauth/login/github">Login</a></li>
        <li th:if="${loggedIn}"><a href="#">Create New Diagram</a></li>
        <li th:if="${loggedIn}"><a href="/logout">Logout</a></li>
    </ul>
</nav>
</body>
</html>