<!DOCTYPE HTML>
<html lang="en" th:replace="~{fragments/layout :: layout(~{::title}, ~{::#content}, ~{::script})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SketchRider :: Home</title>
</head>
<body>
<div id="content">
    <form th:unless="${security}" action="/oauth/login/github">
        <button class="btn btn-primary">Login with Github</button>
    </form>
    <form action="/documents/new">
        <button class="btn btn-primary">Create New Document</button>
    </form>
</div>
</body>

<script></script>