<html lang="en" th:replace="~{fragments/layout :: layout(~{::title}, ~{::#content}, ~{::script})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SketchRider :: Diagram</title>
</head>
<div id="content" class="container-fluid">

    <h1>PlantUML Editor :: <span th:text="${diagramId}"></span></h1>
    <div class="row">
        <div class="col-5">
            <form>
                <button class="btn btn-primary" id="btn-render-diagram">Build</button>
                <button th:if="${security}" class="btn btn-secondary" id="btn-save-diagram">Save</button>
                <div class="form-group">
                    <label for="diagram-source">Diagram source</label>
                    <textarea class="form-control" id="diagram-source" rows="10">A-B:test</textarea>
                </div>
            </form>
        </div>

        <div class="col">
            <p>Generated Diagram</p>
            <div>
                <img id="diagram" src="/static/images/stock-plantuml.jpg"></img>
            </div>

        </div>

    </div>

</div>

<script type="text/javascript">
    function compress(e) {
        e = unescape(encodeURIComponent(e));
        return encode64(RawDeflate.deflate(e));
    }

    $(document).ready(function () {
        $("#btn-render-diagram").click(function (ev) {
            ev.preventDefault();

            const diagramSource = $('#diagram-source').val();
            const wrappedDiagramSource = "@startuml\n" + diagramSource + "\n@enduml";
            const encodedString = compress(wrappedDiagramSource);
            const diagramUrl = "/render/" + encodedString + "?dt=puml";
            $("#diagram").attr("src", diagramUrl);
        });

        $("#btn-save-diagram").click(function (ev) {
            ev.preventDefault();

            const diagramSource = $('#diagram-source').val();
            const wrappedDiagramSource = "@startuml\n" + diagramSource + "\n@enduml";
            const encodedString = compress(wrappedDiagramSource);
            $.ajax({
                type: 'POST',
                url: '/user-diagrams',
                data: JSON.stringify({diagramCode: encodedString}),
                contentType: 'application/json',
                dataType: 'json',
                success: function (data) {
                    alert("Success: " + data);
                },
                failure: function (err) {
                    alert("Error:" + err);
                }
            });
        });
    });
</script>

</html>