<!DOCTYPE HTML>
<html lang="en" th:replace="~{fragments/layout :: layout(~{::title}, ~{::#content}, ~{::script})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SketchRider :: Home</title>
</head>
<body>
<div id="content">
    <form action="/diagrams/new">
        <button class="btn btn-primary">Create New Diagram</button>
    </form>
    <h2>List Diagrams</h2>
    <table>
        <tr>
            <th>Id</th>
        </tr>
        <tr th:each="diagram : ${diagrams}">
            <td><a th:href="@{/diagrams/{diagramId}(diagramId=${diagram.metadata})}" th:text="'Go to ' + ${diagram.metadata}"></a></td>
        </tr>
    </table>
</div>
</body>

<script></script>